<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <p>Team Name: <input type="text" name="name" /></label><br/>
     <p>Coach: <input type="text" name="coach" /></label><br/>
     <p>Point Guard: <input type="text" name="pg" /></label><br/>
     <p>Shooting Guard: <input type="text" name="sg" /></label><br/>
     <p>Power Forward: <input type="text" name="pf" /></label><br/>
     <p>Small Forward: <input type="text" name="sf" /></label><br/>
     <p>Center: <input type="text" name="c" /></label><br/><br/>
     <input type="submit" id="Submit" />
   </form>
 </body>
</html>


